html,
* {
  font-family: 'Segoe UI Regular', Tahoma, Geneva, Verdana, sans-serif;
}

.panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: calc(50% - 340px);
  left: 30px;
  width: 400px;
  height: 680px;
  background: #ffffff;
  box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.1);
  padding: 35px;
  border-radius: 20px;
  overflow: hidden;
  * {
    width: 100%;
    text-decoration: none;

  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto 0 auto;
    flex: 1;
    justify-content: flex-start;
  }
  .copyright-wrapper {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
    line-height: 19px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    span,
    a {
      color: white;
      text-align: center;
      display: inline-block;
      line-height: 25px;
      font-size: 11px;
    }
    a {
      text-decoration: underline;
    }
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50%;
    bottom: -78px;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
    &:hover {
      background: white;
      span,
      a {
        color: var(--primary-color);
      }
      border-color: var(--primary-color);
    }
  }
  .back-icon {
    position: absolute;
    left: 48px;
    top: 36px;
    width: fit-content;
    cursor: pointer;
    &:hover {
      color: var(--primary-color);
    }
  }
}

.logo {
  width: 100%;
  height: auto;
  text-align: center;
  .logo-title {
    font-size: 22px;
    font-weight: bolder;
    color: black;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: 'Segoe UI Bold';
  }
  .logo-description {
    font-size: 15px;
    font-weight: 600;
    color: black;
    margin: 0 auto;
    display: inline-block;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: 'Segoe UI Regular';
  }
  img {
    width: 140px;
    height: auto;
    background-size: cover;
  }
}

.d-flex {
  display: flex;
  padding: 0;
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.gap-15 {
  gap: 15px;
}

.w-50 {
  width: 50%;
}

@media (max-width: 540px) {
  .panel {
    width: 95%;
    height: 95%;
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    padding: 10px;
    .back-icon {
      left: 18px;
      top: 18px;
    }
    .logo {
      img {
        width: 80px;
      }
      .logo-title {
        font-size: 18px;
        font-weight: bolder;
        color: black;
        margin: 0 auto;
        text-transform: uppercase;
      }
      .logo-description {
        font-size: 13px;
        font-weight: 600;
        color: black;
        margin: 0 auto;
        display: inline-block;
        margin: 0 auto 10px auto;
        text-transform: uppercase;
      }
    }
    .copyright-wrapper {
      width: 130px;
      height: 130px;
      margin: 0 auto;
      text-align: left;
      font-size: 12px;
      line-height: 10px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      justify-content: flex-start;
      align-items: center;
      border-radius: 50%;
      bottom: -70px;
      font-family: 'Segoe UI Regular';
    }
  }
}

.privacy-link {
  text-decoration: underline;
}

div.modal {
  padding: 0px;
  display: flex;
}
.modal-dialog {
  width: 350px;
  margin: auto;
  button.close {
    background: none;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    span {
      font-size: 26px;
    }
  }
  .modal-title {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
    font-family: 'Segoe UI Bold';
  }
}

@media (max-width: 540px) {
  .modal-dialog {
    width: 90%;
  }
}