.info-onboarding {
  border: 2px solid var(--primary-color);
  border-radius: 12px;
  margin: 0 auto 10px auto;
  text-align: center;
  height: fit-content;
  padding: 3px 15px;
  cursor: pointer;
  font-family: 'Segoe UI Regular';
  display: flex;
}

.info-outline {
  background: transparent;
  color: var(--primary-color);
}
.info-outline:active {
  background: var(--second-color);
}

.info-fill {
  background: var(--primary-color);
  color: white;
}

@media(max-width: 540px) {
  .info-outline {
    margin-bottom: 10px;
    padding: 5px 10px;
  }
}