.info-outline {
  border: 2px solid var(--primary-color);
  border-radius: 12px;
  color: var(--primary-color);
  margin-bottom: 10px;
  text-align: center;
  height: fit-content;
  padding: 3px 15px;
  cursor: pointer;
  font-family: 'Segoe UI Regular';
}
.info-outline:active {
  background: var(--second-color);
}

@media(max-width: 540px) {
  .info-outline {
    margin-bottom: 10px;
    padding: 5px 10px;
  }
}