.approval-container {
    text-align: center;
    color: var(--primary-color);
    font-family: 'Segoe UI';
    margin-top: 30px;
    margin-bottom: auto;
    p {
        font-size: 14px;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        margin: auto;
        width: 80%;
    }
}