input {
  box-sizing: border-box;
  border-radius: 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 15px;
  padding: 15px;
  width: 300px;
  height: 50px;
  width: 100%;
  transition: all .3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}
input:hover {

}
::placeholder {
  color: var(--primary-color);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--primary-color);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--primary-color);
}

.input-outline {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}
.input-outline:focus {
  border-color: var(--primary-dark-color);
}

.input-outline:hover {
  color: var(--primary-dark-color);
}

@media(max-width: 540px) {
  input {
    width: 95%;
    height: 40px;
    padding: 12px;
    margin: 0 auto 10px auto;
    font-size: 14px;
  }
}