@import url("https://rsms.me/inter/inter.css");
:root {
  --size-bezel: .5rem;
  --size-radius: 4px;
}

.input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input__label {
  position: absolute;
  left: 0;
  top: 0;
  padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
  margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
  background: pink;
  white-space: nowrap;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  background: var(--color-background);
  -webkit-transition: -webkit-transform 120ms ease-in;
  transition: -webkit-transform 120ms ease-in;
  transition: transform 120ms ease-in;
  transition: transform 120ms ease-in, -webkit-transform 120ms ease-in;
  font-weight: bold;
  line-height: 1.2;
  color: var(--primary-color);
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-family: 'Segoe UI Regular';
}

.input__field {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  line-height: 19px;
  margin-bottom: 10px;
  padding: 15px;
  height: 50px;
  width: 100%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Segoe UI Regular';
  text-align: center;
  letter-spacing: 5px;
}

.input__field:focus::-webkit-input-placeholder {
  color: var(--primary-light-color);
}

.input__field:focus:-ms-input-placeholder {
  color: var(--primary-light-color);
}

.input__field:focus::-ms-input-placeholder {
  color: var(--primary-light-color);
}

.input__field:focus::placeholder {
  color: var(--primary-light-color);
}

.input__field::-webkit-input-placeholder {
  color: transparent;
}

.input__field:-ms-input-placeholder {
  color: transparent;
}

.input__field::-ms-input-placeholder {
  color: transparent;
}

.input__field::placeholder {
  color: transparent;
}

.input__field.input-outline {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.input__field:focus + .input__label, .input__field:not(:placeholder-shown) + .input__label {
  -webkit-transform: translate(0.25rem, -65%) scale(0.8);
          transform: translate(0.25rem, -65%) scale(0.8);
  color: var(--primary-color);
  background: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 12px;
}

@media (max-width: 540px) {
  .input__field {
    height: 40px !important;
    padding: 12px;
    margin: 0 auto 10px auto;
    font-size: 12px;
    letter-spacing: 3px;
  }
  .input__field:focus + .input__label, .input__field:not(:placeholder-shown) + .input__label {
    -webkit-transform: translate(1rem, -65%) scale(0.8);
            transform: translate(1rem, -65%) scale(0.8);
    color: var(--primary-color);
    background: white;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 10px;
  }
  .input__label {
    font-size: 12px;
    top: -3px;
  }
}
/*# sourceMappingURL=style.css.map */