.wrapper {
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex: 1;
  justify-content: space-around;
  margin: auto;
  .title-wrapper {
    display: flex;
    justify-content: center;
  }
  .btn-group {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media(max-width: 540px) {
  .wrapper {
    .description {
      font-size: 12px;
    }
  }
}