.contactus-container {
  margin-top: 0;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  flex: 1;
  form {
    margin-top: 10px;
  }
  .btn-wrapper {
    margin: 25px auto 20px auto;
  }
  .title-wrapper {
    .description {
      text-align: center;
      font-size: 14px ;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

@media(max-width: 540px) {
  .contactus-container {
    margin-top: 5px;
    .btn-wrapper {
      margin: 20px auto;
    }
  }
  
}
