.container {
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  
  .btn-wrapper {
    margin: 25px auto 20px auto;
  }
}

@media(max-width: 540px) {
  .container {
    .btn-wrapper {
      margin: 20px auto;
    }
  }
}
