.google-map {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.map-marker {
    width: 100px;
    height: 120px; 
    position: "absolute";
    top: "100%";
    left: "50%";
    transform: translate(-50%, -100%);
}